<table class="tx-cundd-composer" >
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.name" />
		</td>
		<td>
			{package.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.description" />
		</td>
		<td>
			{package.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.version" />
		</td>
		<td>
			{package.version}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.type" />
		</td>
		<td>
			{package.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.homepage" />
		</td>
		<td>
			{package.homepage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.time" />
		</td>
		<td>
			{package.time -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddcomposer_domain_model_package.license" />
		</td>
		<td>
			{package.license}
		</td>
	</tr>
</table>