<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="content">
    <h1>Manual installation</h1>

    <h2>Install</h2>
    <pre>cd "{workingDirectory}";
{composerPath} install --optimize-autoloader</pre>


    <h2>Update</h2>
    <pre>cd "{workingDirectory}";
{composerPath} update --optimize-autoloader</pre>


    <h2>Full command</h2>
    <pre>{manualInstallTip}</pre>

    <f:link.action action="list" class="btn">Back to list</f:link.action>
</f:section>
</html>