<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="content">
    <h1>Composer update result</h1>
    <p>
        Install development dependencies:
        <f:if condition="{developmentDependencies}">
            <f:then>Yes</f:then>
            <f:else>No</f:else>
        </f:if>
    </p>

    <pre>{composerOutput}</pre>

    <f:if condition="{installedAssets}">
        <f:render partial="Asset/List" section="main" arguments="{installedAssets: installedAssets}"/>
    </f:if>

    <f:link.action action="list" class="btn">Back to list</f:link.action>
    <f:link.action action="update" arguments="{development: developmentDependencies}" class="btn">Reload</f:link.action>
</f:section>
</html>