<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Package</h1>

<f:flashMessages />

<table  class="tx_cunddcomposer" >
	<tr>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.name" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.description" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.version" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.type" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.homepage" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.time" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.license" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.tx_cunddcomposer_require" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_package.require_dev" /></th>
	</tr>

	<f:for each="{packages}" as="package">
		<tr>
			<td>{package.name}</td>
			<td>{package.description}</td>
			<td>{package.version}</td>
			<td>{package.type}</td>
			<td>{package.homepage}</td>
			<td>{package.time -> f:format.date()}</td>
			<td>{package.license}</td>
			<td><f:format.nl2br>{package.require}</f:format.nl2br></td>
			<td><f:format.nl2br>{package.requireDev}</f:format.nl2br></td>
		</tr>
	</f:for>
</table>


<h2>Preview of the merged composer.json</h2>
<pre>{mergedComposerJsonString}</pre>

<pre>Used PHP: {usedPHPBin}</pre>
<f:link.action action="install" class="btn">Merge and install</f:link.action>
<f:link.action action="install" arguments="{development: 1}" class="btn">Merge and install development mode</f:link.action>
</f:section>