<h1>Listing for installed assets</h1>

<table class="tx_cunddcomposer table table-striped">
	<tr>
		<th><f:translate key="tx_cunddcomposer_domain_model_asset.name" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_asset.version" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_asset.source" /></th>
		<th><f:translate key="tx_cunddcomposer_domain_model_asset.target" /></th>
	</tr>

	<f:for each="{installedAssets}" as="installedAsset">
		<tr>
			<td>{installedAsset.name}:{installedAsset.assetKey}</td>
			<td>{installedAsset.version}</td>
			<td>{installedAsset.source}</td>
			<td>{installedAsset.target}</td>
		</tr>
	</f:for>
</table>